*.iml
.gradle/
local.properties
/local.properties

# IDE
.DS_Store
.idea/

# Build outputs
/build/
**/build/
/captures/
*.apk
*.aab

# Native/NDK
.externalNativeBuild/
.cxx/

# Keystores and signing
*.keystore
*.jks
